* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

body {
    overflow-x: hidden !important;
    font-family: "BebasRegular";
}
.top_line {
    height: 64px;
    background-color: #6f6a66;
    max-width: 100%;
}

.top_line ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.top_line li {
    display: inline-block;
}

.top_line a {
    color: #fab677;
    font-size: 24px;
    padding: 0 20px;
    display: block;
    line-height: 64px;
}

.top_line .addrs {
    color: #fab677;
    font-size: 24px;
    float: right;
    line-height: 64px;
}

.top_line .addrs strong {
    color: #fff;
    padding: 0 10px
}

.img-fluid {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
.sloug {
    text-align: center;
}