* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

body {
    overflow-x: hidden !important;*/
    background-color: #e3dddd;
}

header {
    background-image: url(../img/top_bg.jpg);
    min-height: 640px;
    background-repeat: repeat-x;
    background-position: top center;
    position: relative;
    min-width: 100%;
}

.top_line {
    min-height: 45px;
    -webkit-box-shadow: rgba(255, 255, 255, .5) 0 0 0 1px;
    box-shadow: rgba(255, 255, 255, .4) 0 0 0 1px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .60);
    position: fixed;
    z-index: 999999999;
}

.menu {
    font-family: "BebasRegular";
    text-align: center;
    padding-top: 15px;
    min-height: 50px;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    font-size: 25px;
    padding: 0 30px;
}

.menu a {
    color: #fff;
}

hr {
    background-color: #544;
    height: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.line_bott{
    background-color: #544;
    height: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 20px;
}
.gallery_txt {
    text-align: center;
    text-transform: uppercase;
    font-family: "BebasRegular";
    padding: 20px;
    margin-bottom: -20px;
}

.thumb img { 
      filter: none; /* IE6-9 */ 
      -webkit-filter: grayscale(0); 
      border-radius:5px; 
      background-color: #fff; 
      border: 1px solid #ddd; 
      padding:5px;
} 
.thumb img:hover { 
      filter: gray; /* IE6-9 */ 
      -webkit-filter: grayscale(1); 
} 
.thumb { 
      padding:5px; 
} 
.service_txt {
      text-align: center;
      text-transform: uppercase;
      font-family: "BebasRegular";
      padding: 20px;
      margin-bottom: -10px;
}